Nombre: {{nombre}}
<br>
Apellido: {{apellido}}
<br>
Consulta: {{q}}
<br>

<pre>Valido: {{formularioUsuario.valid}}</pre>
<pre>Invalido: {{formularioUsuario.invalid}}</pre>
<pre>Dirty: {{formularioUsuario.dirty}}</pre>
<pre>Pristine: {{formularioUsuario.pristine}}</pre>
<pre>Touched: {{formularioUsuario.touched}}</pre>
<pre>Untouched: {{formularioUsuario.untouched}}</pre>

<form
  #formularioUsuario="ngForm"
  novalidate
  (submit)="guardarUsuario(formularioUsuario)">

  <label for="nombre">Nombre</label>
  <input id="nombre" 
  name="nombreUsuario" 
  required 
  min="5"
  max="15"
  type="email"
  pattern="([A-Z])\w+" 
  [(ngModel)]="nombre"
  #vtNombre="ngModel">
  
  <pre>{{vtNombre.valid | json}}</pre>
  <pre>Error:
    {{vtNombre.errors | json}}
  </pre>

  <pre>Valido: {{vtNombre.valid}}</pre>
  <pre>Invalido: {{vtNombre.invalid}}</pre>
  <pre>Dirty: {{vtNombre.dirty}}</pre>
  <pre>Pristine: {{vtNombre.pristine}}</pre>
  <pre>Touched: {{vtNombre.touched}}</pre>
  <pre>Untouched: {{vtNombre.untouched}}</pre>

  <br>
  <label for="apellido">Apellido</label>
  <input id="apellido" name="apellidoUsuario" required type="text" [(ngModel)]="apellido">
  <br>
  <label for="cedula">Cedula</label>
  <input id="cedula" 
  required
  minlength="10"
  maxlength="10"
  pattern="[0-9]"
  name="cedula" 
  type="text" 
  [(ngModel)]="cedula">

  <br>
  <button type="button">Tipo boton</button>
  <br>
  <button type="reset">Tipo reset</button>
  <br>  
  <button type="submit" [disabled]="formularioUsuario.invalid">Tipo submit</button>

</form>